.app {
    height: 100vh;
    padding: 20px 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .addHome {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  .books {
    display: flex;
  }
  
  .book {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .book img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    padding-top: 60px;
  }
  
  .book button {
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
  }
  
  .book button.delete {
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
  }
  
  .book button.update {
    border: 1px solid rgb(204, 204, 243);
    
  }
  .book button.update a {
    text-decoration: none;
    color: rgb(139, 139, 234);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
  }
  
  .form textarea {
    padding: 10px;
  }
  
  .form button {
    border: none;
    padding: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .add {
    padding: 10px;
    margin-top: 50px;
    margin-left: 600px;
    margin-bottom: 50px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
  }
  
  .add a {
    text-decoration: none;
    color: white;
  }
  